<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=320,minimum-scale=0.5, maximum-scale=5, user-scalable=no">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <script src="~/Scripts/vue/2.x/vue.js"></script>
        @RenderBody()
    </div>
</body>
</html>
